@font-face {
    font-family: "Open Sans";
    src: url(../../fonts/OpenSans-Regular.ttf);
}


@font-face {
    font-family: "OpenSans ExtraBold";
    src: url(../../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: 'OoohBaby-Regular';
    src: url(../../fonts/OoohBaby-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat-VariableFont_wght.ttf);
}