.lightbox {
  display: grid;
  grid-template-columns: repeat(3,200px);
  justify-content: center;
  align-content: center;
  gap: 16px;
  height: 100vh;
}

.zoom-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  object-fit: cover;
  object-position: center center;
}

#lightboxBg {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(150,150,150,0.6);
  backdrop-filter: blur(2px);
  // display: none;
}

#lightbox.active {
  display: grid;
  place-items: center;
}