.thanks {
  display: flex;
  height: 1000px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 200px;


  &__title {
    font-family: Montserrat;
    line-height: 100px;
    width: 400px;
    font-size: 40px;
    text-decoration: underline 6px var(--beta);
    text-underline-offset: 18px;
    
  }
  
}

